/* Format the Main Header */
header {
    background-color:rgb(58, 80, 61);
    padding: 50px;
    padding-top: 5px;
    margin:0;
    width: 99%;
    text-align: left;
}

/* Format the List of Navs*/
header, nav {
    font-size: 24px;
}

nav {
    text-align: center;
}

header, h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(251 246 251);
    font-size: 60px;
    margin-bottom: 50px;
}

#top-links a {
    background-color: rgb(236, 183, 234);
    border-style: solid;
    border-color: rgb(146, 113, 145);
    margin-right: 125px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #065136;
}

/* Add background of page */
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    width: 100%;
    margin: 0;
}

/* Format the Body */
main {
    margin: 0px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Format the H2 headers */
h2 {
    font-size: 36px;
    margin-bottom: 25px;
    color: rgb(107 79 106);
}

/* Format the Footer */
footer {
    font-size: 12px;
    color: rgb(107 79 106);
    position: fixed;
    left: 50px;
    bottom: 5px;
    width: 100%;
}

/* Format page text on About page */
#about-group:after {
    content: "";
    display: table;
    clear: both;
}

/* Format subheader on About page */ 
h3{
    font-size: 24px;
    margin-bottom: 0px;
    color: rgb(93 64 92)
}

/* Format careers subheader on About page */
h4 {
    font-size: 21px;
    color: rgb(107 79 106);
}

/* Format rest of text on About page */
#about-group p{
    font-size: 18px;
    color: rgb(77 53 76);
}

#about-text ul {
    list-style-type: none;
}

#about-text {
    float: left;
    width: 50%;
    margin-right: 10px;
}

#about-text p{
    color: rgb(77 53 76);
}

/* Format all regular text */
p{
    color: rgb(77 53 76);
    font-size: 18px;
}

/* Format image on About page */
#about-image {
    float: left;
    width: 40%;
    margin-left: 50px;
}

/* Formay embedded image(s) */
img {
    border-width: 5px;
    border-style: solid;
    border-color:rgb(146, 113, 145);
}

/* Format contact table */
table, tbody, tr, td {
    border-collapse: collapse;
    background-color: rgb(236, 183, 234);
    border-style: solid;
    border-color: rgb(146, 113, 145);
    padding: 10px;
    vertical-align: middle;
    color: #023f29
    
}

table {
    margin-left: auto;
    margin-right: auto;
}

#label-column {
    text-align: right;
}

#data-column{
    text-align: left;
}

#contact-top{
    text-align: center;
}

/* Format Home page */
#home-title{
    font-size: 100px;
}

#home-sub-title{
    font-size: 30px;
}

#home-resume-button{
    background-color: rgb(236, 183, 234);
    border-style: solid;
    border-color: rgb(146, 113, 145);
    margin-right: 125px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(77 53 76);
}

#home-page-text {
    text-align: center;
}

/* Formatting portfolio listing */
#portfolio-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#portfolio-title {
    font-size: 21px;
    color: rgb(107 79 106);
}