/* Format the Main Header */
header {
    background-color:rgb(89, 87, 95);
    padding: 50px;
}

/* Format the Body */
main {
    margin: 0px;
    margin-left: 50px;
}

/* Format the H2 headers */
h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
}

/* Format the List of Navs*/
header, nav {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/* Format the Footer */
footer {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

