/* Format the Main Header */
header {
    background-color:rgb(89, 87, 95);
    padding: 50px;
    margin:0;
}

body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

/* Format the Body */
main {
    margin: 0px;
    margin-left: 50px;
}

/* Format the H2 headers */
h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Format the List of Navs*/
header, nav {
    font-size: 24px;
}

/* Format the Footer */
footer {
    font-size: 12px;
}

/* Format page text on About page */
#about-group:after {
    content: "";
    display: table;
    clear: both;
}

h3{
    font-size: 24px;
    margin-bottom: 0px;
}

h4 {
    font-size: 21px;
}

#about-group p{
    font-size: 18px;
}

#about-text ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

#about-text {
    float: left;
    width: 50%;
    margin-right: 10px;
}

/* Format image on About page */
#about-image {
    float: left;
    width: 40%;
    margin-left: 50px;
}

