/* Format the Main Header */
header {
    background-color:rgb(58, 80, 61);
    padding: 50px;
    margin:0;
}

/* Format the List of Navs*/
header, nav {
    font-size: 24px;
}

header, h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#top-links a {
    background-color: rgb(236, 183, 234);
    border-style: solid;
    border-color: rgb(146, 113, 145);
    margin-right: 50px;
    padding: 10px;
}

/* Add background of page */
body {
    background-color: rgb(255, 238, 252);
    background-image: url('images\cherry-blossoms.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

/* Format the Body */
main {
    margin: 0px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Format the H2 headers */
h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Format the Footer */
footer {
    font-size: 12px;
}

/* Format page text on About page */
#about-group:after {
    content: "";
    display: table;
    clear: both;
}

h3{
    font-size: 24px;
    margin-bottom: 0px;
}

h4 {
    font-size: 21px;
}

#about-group p{
    font-size: 18px;
}

#about-text ul {
    list-style-type: none;
}

#about-text {
    float: left;
    width: 50%;
    margin-right: 10px;
}

/* Format image on About page */
#about-image {
    float: left;
    width: 40%;
    margin-left: 50px;
}

